$main-color: #5964E0;

$sub-color: #939BF4;

$white-color: #ffffff;

$text-color: #6e8098;

$text-sub-color: #19202D;

$gray-color: #9DAEC2;

$bg-color: #F4F6F8;

$bg-dark-color: #19202D; 

$el-bg-dark-color: #20293a;



$clr-violet: #5964E0;
$clr-violet-light: #939BF4;
$clr-blue-dark: #19202D;
$clr-midnight: #121721;
$clr-white: #ffffff;
$clr-gray-light: #F4F6F8;
$clr-gray: #9DAEC2;
$clr-gray-dark: #6e8098;
$clr-gray-darkest: rgba(110, 128, 152, 1);
